.sidebar__nav {
  grid-area: menu;
  position: sticky;
  top: 10px;
  min-width: 200px;
  margin-top: 5px;
  height: fit-content;
}

.sidebar__elements {
  position: sticky;
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: 10px;
  gap: 30px;
  text-align: end;
  list-style-type: none;
}

.sidebar__nav_item {
  width: 100%;
}

.nav_item__link {
  display: inline-block;
  width: 100%;
  font-size: 28px;
  height: 1.5em;
  font-weight: 500;
  color: var(--font-color-main);
  border-radius: 30px;
  padding-right: 10px;
  transition: color .3s ease-out;
  animation: .3s linear fadein;
}

.profile_logined, .profile_notlogined {
  animation: .3s linear fadein;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nav_item__link:focus, .nav_item__link:active, .nav_item__link:hover {
  color: var(--font-color-main_active);
  background-color: var(--font-color-main_hover-bg);
}