.my-gear__submit {
  margin-top: 5px;
  margin-left: 5px;
}

.my-gear__bikes {
  margin-top: 10px;
}

.MuiTableCell-body,
.MuiTableCell-head{
  color: var(--font-color-main) !important;
}

.MuiTableCell-root{
  border-bottom: 1px solid
  var(--font-color-main_unactive) !important;
}

.bikes__bike-name {
  font-size: 18px;
  cursor: pointer;
  text-decoration: underline;
}
