.fade-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;

  background-color: var(--font-color-main_unactive);

  z-index: 99;
}

.modal-window {
  /* position: absolute; */
  background-color: var(--background-main-color);
  width: 30%;
}