.float-card {
  height: fit-content;
  padding: 5px;
  border-radius: 6px;
  margin-bottom: 2rem;
}

.float-card__elements {
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style-type: none;
}

.float-card__element {
  height: 24px;
  width: 24px;
}

.float-card__link {
  display: inline-block;
  color: var(--font-color-main);
  height: 100%;
  border-radius: 25%;
  transition: color .3s ease-out;
}

.float-card__link:focus {
  background-color: var(--font-color-main_hover-bg);
}

.float-card__icon {
  height: 100%;
  width: 100%;
  fill: var(--font-color-main);
  transition: fill .3s ease-out;
}

.float-card__icon:focus,
.float-card__icon:hover {
  fill: var(--font-color-main_active);
}
