.content__user-profile {
  height: calc(100% - 25px);
  margin-top: 5px;
  padding-top: 15px;
  padding-bottom: 5px;
}

.user-profile__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 5px;
  padding: 5px;
}

.user-profile__heading {
  margin-left: 20px;
  margin-bottom: 25px;
}

.user-profile__main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0 5px;
  padding: 5px;
}
