.content__main-page {
  position: relative;
  height: 100%;
  padding: 5px;
}

.main-page__events {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  overflow:unset !important;
}
