.main-page__event {
  display: flex;
  padding: 5px;
  gap: 20px;
}

.event-card__aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: min-content;
}

.event-card__main {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 5px;
  max-width: 50%;
}

.event-card__main__heading {
  display: flex;
  gap: .5em;
}

.date-header__day {
  font-weight: 600;
}

.event-details {
  display: flex;
  align-items: center;
  gap: 5px;
}

.event-card__main__adress {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
}

.event-card__main__whos-in {
  display: flex;
  gap: 5px;
  height: 34px;
  margin-top: auto;
}

.whos-in__avatar-wrap {
  width: 34px;
  border-radius: 50%;
  transition: background-color .2s ease-out;
  animation: .1s ease-out flyIn;
}

@keyframes flyIn {
  from {
    opacity: .5;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.whos-in__avatar-wrap:hover {
  background-color: var(--font-color-main_hover-bg);
}

.event__map {
  margin-left: auto;
  width: 150px;
  height: 150px;
  transition: width .3s .3s ease-in, height .2s .3s ease-in;
}

.event__map .leaflet-control-attribution {
  opacity: 0;
}

.event__map:hover {
  width: 30%;
  height: 200px;
  transition: width .3s ease-out, height .2s ease-out;
}
