.main-page__event {
  display: flex;
  padding: 5px;
  gap: .5rem;
}

.event-card__aside {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: min-content;
}

.event-card__buttons{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.event-card__main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  border-left: 1px solid;
  padding-left: .5rem;
}

.event-card__main__heading {
  display: flex;
  gap: .5em;
  background-color: var(--surface-overlay-color_second-level);
  border-radius: 1em;
  padding: 0 5px;
}

.event-card__title{
  overflow-wrap: break-word;
}

.date-header__day {
  font-weight: 600;
}

.event-card__part{
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 34px;
  gap: 1rem;
}

.event-card__details{
  display: flex;
  gap: 1rem;
}

.event-details__icon-wrap{
  width: 1.5em;
  height: 1.5em;
}

.event-details {
  display: flex;
  align-items: center;
  gap: 5px;
}

.event-card__main__adress {
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 400;
  
  overflow-wrap: break-word;
}

.event-card__link{
  color: var(--font-color-main);
}

.event-card__main__whos-in {
  display: flex;
  width: min-content;
  border-radius: 34px;
  background-color: var(--surface-overlay-color_second-level);
  padding: 2px;
  gap: 5px;
  height: 34px;
}

.whos-in__avatar-wrap {
  width: 34px;
  border-radius: 50%;
  transition: background-color .2s ease-out;
  animation: .1s ease-out flyIn;
}

@keyframes flyIn {
  from {
    opacity: .5;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.whos-in__avatar-wrap:hover {
  background-color: var(--font-color-main_hover-bg);
}

.event__map {
  margin-left: auto;
  width: 150px;
  height: 150px;
  transition: width .3s .3s ease-in, height .2s .3s ease-in;
  transition-delay: .3s;
}

.event__map .leaflet-control-attribution {
  opacity: 0;
}

.event__map:hover {
  width: 30%;
  height: 200px;
}
