.app {
  display: grid;
  grid-template-areas: "logo main float"
                      "menu main float"
                      "res main rest";
  grid-template-columns: minmax(min-content, 20%) 1fr max-content;
  grid-template-rows: max-content max-content 1fr;
  column-gap: 10px;
}