.app {
  display: grid;
  grid-template-areas: "menu main float"
    "empty main addbtn";
  grid-template-columns: minmax(max-content, 15%) minmax(min-content, 1fr) max-content;
  grid-template-rows: max-content 1fr;
  height: 100vh;
  column-gap: 10px;
}

.add-btn_container {
  grid-area: addbtn;
  margin-top: auto;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}