.fade-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  background-color: var(--fab-bgr-color);
  z-index: 99;
}

.modal-window {
  background-color: var(--background-main-color);
  border-radius: 5px;
  width: 30%;
  height: auto;
  padding: 5px;
  animation: .1s ease-out fly-in;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
}

@keyframes fly-in {
  from {
    width: 10%;
    opacity: 0;
  }
  to {
    width: 30%;
    opacity: 1;
  }
}

.modal-window__heading {
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.modal-window__main {
  display: flex;
  gap: 15px;
  padding: 5px 5px;
}

.modal-form {
  flex-direction: column;
}

.modal-dialog {
  justify-content: space-between;
}
