.fade-layer {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100%;

  background-color: var(--font-color-main_unactive);

  z-index: 99;
}

.modal-window {
  background-color: var(--background-main-color);
  width: 30%;
  padding: 5px;
}

.modal-window__heading{
  margin-top: 20px;
  margin-bottom: 30px;
  margin-left: 20px;
}

.modal-window__main{
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 0 5px;
}

.modal__submit-btn{
  margin-bottom: 10px;
}