.new-event__form {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin: 0 5px;
  padding: 5px;
}

.form__title-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.form__terrain-level-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 20px;
}

.form__terrain-level-wrap .input__label {
  width: 100%;
}

.form__input_title {
  width: 100%;
}

.form__input_date {
  font-family: "Roboto";
}

.form__input_description {
  resize: vertical;
  min-height: 6em;
}

.input__label {
  display: flex;
  flex-direction: column;
  gap: 5px;

  font-size: 20px;
  font-weight: 500;
}

.title-label {
  width: 100%;
}

.form__controls {
  display: flex;
  align-items: center;
  gap: 1rem;

  margin: auto;
}

.cancel-btn {
  font-family: "Roboto";
  font-size: 16px;
  color: var(--font-color-main);

  transition: color .3s ease-out;
}

.cancel-btn:hover,
.cancel-btn:focus {
  color: var(--font-color-main_active);
}

.new-event__map {
  height: 300px;
  width: 100%;
}
