.app {
  display: grid;
  grid-template-areas: "menu content float" "empty content addbtn";
  grid-template-columns: minmax(max-content, 15%) minmax(min-content, 1fr) max-content;
  height: 100%;
  column-gap: 10px;
}

.add-btn_container {
  position: sticky;
  bottom: 20px;
  grid-area: addbtn;
  margin-top: auto;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  padding: 5px;
}
