.user-profile__section-wrap {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  padding: 5px;
}

.field-field__value.field-value_noselect {
  cursor: default;
}

.field-field__value.field-value_noselect:hover {
  background-color: transparent;
}
