.theme-togler-wrap {
  cursor: pointer;
}

.theme-toggler-icon {
  transition: all .6s ease-out;
}

.theme-toggler-icon_light {
  transform: translateX(-50px);
}

.theme-toggler-icon_dark {
  transform: rotate(135deg);
}
